<%- include("partials/header"); -%>
<div class="jumbotron centered">
  <form action="/registerPlayerName" method="post">
    <label for="pName">Enter your name</label>
    <input type="text" id="pName" name="playerName" />
    <button type="submit">save</button>
  </form>
</div>

<%- include("partials/footer"); -%>
