<%- include("partials/header"); -%>
<div class="jumbotron centered">
  <h1>Welcome</h1>
  <h1><%=playerName%></h1>
  <form action="/startGame" method="get">
    <button type="submit">start game</button>
  </form>
</div>

<%- include("partials/footer"); -%>
